# openai configuration
OPENAI_ORGANIZATION=
OPENAI_PROJECT=
OPENAI_API_KEY=

# gemini configuration
GEMINI_PROJECT=
GEMINI_API_KEY=

# grok configuration
GROK_API_KEY=
GROK_BASE_URL=

# metacentrum configuration
METACENTRUM_BASE_URL=
METACENTRUM_API_KEY=

# huggingface configuration (only needed for gated/private models)
HF_TOKEN=
