# openai configuration
OPENAI_ORGANIZATION=
OPENAI_PROJECT=
OPENAI_API_KEY=

# my key
# GEMINI_PROJECT=
# GEMINI_API_KEY=

# vilo's key
GEMINI_PROJECT=
GEMINI_API_KEY=

# metacentrum configuration 
METACENTRUM_BASE_URL=
METACENTRUM_API_KEY=
